<h1>Create a new link</h1>

<% if @link.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
 
    <ul>
    <% @link.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag "/links" do %>
  <%= label_tag :slug %>
  <%= text_field_tag :slug, @link.slug %>

  <%= label_tag :target_url %>
  <%= text_field_tag :target_url, @link.target_url %>

  <%= submit_tag "Create Link" %>
<% end %>